:root {
	--sheet-bg: var(--bs-gray-100);
	--crease-line: var(--bs-gray-600);
	--boundary: var(--bs-gray-600);
	--highlight: var(--bs-info);
	--valley: var(--bs-primary);
	--action-line: var(--bs-gray-700);
}

.point-normal {
	fill: var(--crease-line);
	stroke-width: 0;
}

.point-highlight {
	fill: var(--highlight);
	stroke-width: 0;
}

.point-action {
	fill: var(--bs-warning);
	stroke-width: 0;
}

.line-valley {
	stroke: var(--valley);
	stroke-dasharray: 0.05 0.025;
	stroke-width: 0.02;
}

.line-mountain {
	stroke: var(--bs-danger);
}

.line-highlight {
	stroke: var(--highlight);
}

.line-arrow {
	display: none;
}

.line-crease {
	stroke: var(--crease-line);
}

.arc-arrow {
	fill: none;
	stroke: var(--action-line);
	stroke-width: 0.015;
	z-index: 10;
	marker-start: url(#arrow);

	&.reverse {
		marker-start: none;
		marker-end: url(#arrow);
	}
}

.creasePattern {
	text {
		font-size: 0.1px;
		stroke-width: 0;
		text-anchor: middle;
	}

	.label-border {
		stroke-width: 0.025px;
		stroke: black;
		stroke-linejoin: bevel;
	}
}

.label-action,
.label-highlight {
	fill: white;
}

marker path {
	fill: var(--action-line);
}

[data-bs-theme="dark"] {
	--sheet-bg: var(--bs-gray-800);
	--crease-line: var(--bs-gray-500);
	--action-line: var(--bs-gray-300);
}

.solution-preview {
	text,
	.arc-arrow,
	.point-normal,
	.point-highlight {
		display: none;
	}

	.line-highlight {
		stroke: var(--crease-line);
	}

	.line-valley {
		stroke-dasharray: none;
		stroke: var(--bs-danger);
	}
}
