svg {
	margin: -0.25rem;
	user-select: none;

	.creasePattern {
		polygon.boundary {
			fill: var(--sheet-bg);
		}

		.boundary {
			stroke: var(--boundary);
		}

		.target-point {
			fill: var(--bs-warning);
		}

		.target-line {
			stroke: var(--bs-danger);
			stroke-width: 0.02;
		}
	}
}
