.tooltip {
	--bs-tooltip-opacity: 1 !important;
	--bs-tooltip-bg: var(--bs-gray-200) !important;
	--bs-tooltip-color: var(--bs-black) !important;
}

.tooltip-inner {
	text-align: left !important;
}

[data-bs-theme="dark"] {
	.tooltip {
		--bs-tooltip-bg: var(--bs-gray-800) !important;
		--bs-tooltip-color: var(--bs-white) !important;
	}
}
