.tooltip {
	--bs-tooltip-opacity: 1;
	--bs-tooltip-bg: var(--bs-gray-200);
	--bs-tooltip-color: var(--bs-black);
}

.tooltip-inner {
	text-align: left;
}

[data-bs-theme="dark"] {
	.tooltip {
		--bs-tooltip-bg: var(--bs-gray-800);
		--bs-tooltip-color: var(--bs-white);
	}
}
