$enable-negative-margins: true;
$enable-gradients: true;

@import "bootstrap/scss/bootstrap";

@font-face {
	font-family: Flag;
	src:
		local("Twemoji Mozilla"),
		local("Apple Color Emoji"),
		/* Segoe UI Emoji (Windows) doesn't support color flags. */ local("Noto Color Emoji"),
		local("EmojiOne Color"),
		local("Android Emoji"),
		/* fallback to font file if none of the above is found */ url("twemoji.woff2");

	/* This is the full range of flags. */
	unicode-range: U+1F1E6-1F1FF;
}

html {
	font-size: 11pt;
}

body {
	overflow-y: scroll;
}

html,
body {
	height: 100%;
}

ol {
	margin-bottom: 0;
	padding-left: 1.5rem;
}

.container {
	max-width: 63rem;
}

.flag {
	font-family: Flag, var(--bs-body-font-family);
}

.capitalize::first-letter {
	text-transform: uppercase;
}

.btn-ld {
	@extend .btn-light;
}

[data-bs-theme="dark"] {
	.btn-ld {
		@extend .btn-dark;
	}

	.nav-tabs {
		--bs-nav-link-color: var(--bs-gray-500);
		--bs-nav-link-hover-color: var(--bs-gray-300);
	}
}

.nav-tabs {
	--bs-nav-link-color: var(--bs-gray-600);
	--bs-nav-link-hover-color: var(--bs-gray-800);

	.nav-link {
		border-bottom: none !important;
		cursor: pointer;
	}
}

[data-bs-theme="rabbit"] {
	--sheet-bg: var(--bs-gray-200);
	--bs-body-color: var(--bs-white);
	--bs-body-bg: #145686;
	--bs-light: #145686;

	.solutions {
		padding-top: 0.5rem;
		border-top: 3px solid #ed9d20;
		background-color: #d63e0f;
	}

	.btn-ld {
		@extend .btn-danger;
	}

	.nav-tabs {
		--bs-nav-tabs-link-active-color: var(--bs-white);
		--bs-nav-link-color: var(--bs-gray-500);
		--bs-nav-link-hover-color: var(--bs-gray-300);
	}

	.card {
		--bs-card-border-color: var(--bs-gray-500);
	}

	.form-select {
		--bs-form-select-bg-img: #{escape-svg($form-select-indicator-dark)};
	}
}
